/* core styles */

body {
  font-family: sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.to-uppercase {
  text-transform: uppercase;
}

.clearfix {
  clear: both;
}

.section-subtitle {
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #797979;
  text-transform: uppercase;
}

.section-title {
  margin-top: 5px;
  font-size: 42px;
  font-weight: 700;
  text-transform: capitalize;
  color: #05364d;
}

.button {
  border: none;
  background-color: #1c44e4;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 14px;
  padding: 20px 40px;
  cursor: pointer;
  border-radius: 5px;
}

.blur-line {
  display: inline-block;
  position: relative;
  top: -2px;
  margin-left: 5px;
  width: 80px;
  height: 4px;
  background-color: rgba(237,35,159,0.6);
  filter: blur(4px);
  border-radius: 4px;
}

/* main header */
.main-header {
  position: fixed;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  box-shadow: 0px 3px 16px 0px rgb(0 0 0 / 10%);
}

.main-header__brand {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand img {
  width: 64px;
}

.main-navigation {
  display: inline-block;
  vertical-align: middle;
}

.main-navigation__item {
  display: inline-block;
  padding: 10px;
}

.main-navigation__item a {
  color: #05364d;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.main-navigation__item a:hover {
  color: #efb6df;
}

.main-navigation__item.active a {
  color: #efb6df;
}

/* main section */
.main-section {
  padding: 100px 30px;
}

.main-section > div {
  width: 50%;
  float:left;
}

.main-section__image {
  text-align: right;
}

.main-section__welcome {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 2px;
  color: #797979;
}

.main-section__introduction {
  margin-top: 20px;
  font-size: 60px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #05364E;
}

.main-section__position {
  color: #05364E;
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

.main-section__social-networks a {
  color: #8fa1aa;
  font-size: 20px;
  display: inline-block;
  margin-right: 16px;
  cursor: pointer;
}

.main-section__social-networks a:hover i {
  color: #1c44e4;
}
.main-section__action {
  margin-top: 30px;
}

/* Statistics */
.statistics {
  padding-top: 100px;
}

.statistics__item {
  display: inline-block;
  width: 150px;
  background-color: #F8FAFF;
  text-align: center;
  margin-right: 20px;
  padding: 5px 10px;
}

.statistics_number {
  font-size: 27px;
  margin-bottom: 5px;
  color: #1c44e4;
}

.statistics__title {
  font-size: 16px;
  color: #797979;
  font-weight: 300;
}

/* About me */
.about-me {
  position: relative;
  padding: 100px 0;
  /* z-index: -1; */
}

.about-me > div {
  width: 50%;
  float: left;
}

.about-me__textpart {
  position: relative;
  left: 100px;
}

.about-me__image {
  position: relative;
  right: 100px;
  width: 90%;
}

.about-me__description {
  width: 400px;
  font-size: 14px;
  font-weight: 300;
  color: #797979;
  line-height: 27px;
  word-wrap: break-word;
}

.about-me__action {
  margin-top: 40px;
}

/* Services section styles */
.services {
  display: inline-block;
  padding-top: 100px;
}

.service__card {
  padding: 60px 30px;
  float: left;
  width: 30%;
  background-color: #F8FAFF;
  margin-right: 3%;
  text-align: center;
  box-sizing: border-box;
}

.service-card__title {
  color: #05364d;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.service-card__description {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  color: #797979;
}

.service-card__link {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  color: #05364d;
  text-decoration: none;
}

.service__card:hover {
  background-color: #5f30ff;
}

.service__card:hover .service-card__title,
.service__card:hover .service-card__description,
.service__card:hover .service-card__link {
  color: #FFFFFF;
}

/* clients section */
.clients {
  padding-top: 100px;
}

.client-items > div {
   width: 50%;
   float: left;
   box-sizing: border-box;
}

.client-item{
  position: relative;
  top: 30px;
  left: 300px;
  width: 100%;
}

.client-item__info {
  padding-top: 50px;
  padding-left: 50px;
}

.client-item__name {
  font-size: 20px;
  margin-bottom: 4px;
}

.client-item__position {
  font-size: 14px;
  font-weight: 300;
  color: #5b6d75;
}

.client-item__review {
  font-size: 14px;
  line-height: 27px;
  font-weight: 300;
  color: #5b6d75;
}

.client-item__rate {
  color: #ffd805;
}

.client-item__rate .disabled {
  color: #aeb9be;
}

/* Portfolio section */
.portfolio {
  padding-top: 100px;
}

.portfolio-filters {
list-style: none;
padding-left: 0;
margin-top: 50px;
}

.portfolio-filters li {
  display: inline-block;
  margin-right: 40px;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  cursor: pointer;
}

.portfolio-filters li:hover,
.portfolio-filters li.active {
  color: #1345e6;
}

.portfolio-items {
  position: relative;
  margin-top: 50px;
}

.portfolio-item-2 {
  position: absolute;
  bottom: 341px;
  left: 0;
}

.portfolio-item-3 {
  position: absolute;
  bottom: 340px;
  left: 462px;
}
.portfolio-item {
  position: relative;
  display: inline-block;
  cursor: pointer;
  /* width: 50%; */
  /* padding: 10px; */
  box-sizing: border-box;
}

.portfolio-item__overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(19, 69, 230, 0.9);
  visibility: hidden;
  z-index: 1;
}

.portfolio-item__info {
  position: absolute;
  bottom: 44px;
  left: 80px;
  color: white;
  visibility: hidden;
  z-index: 1;
}

.portfolio-item__info a {
  color: white;
  text-decoration: none;
}

.portfolio-item:hover .portfolio-item__overlay {
  visibility: visible;
  top: 20px;
  left: 20px;
}

.portfolio-item:hover .portfolio-item__info {
  visibility: visible;
  bottom: 24px;
  left: 60px;
}