body {
  height: 2000px;
}

.grid {
  display: grid;
  margin-left: 10px;
}

.grid-one {
  grid-template-columns: 200px 75px;
}

.column-one {
  text-align: center;
  background-color: #B6D6E4;
}

.column-two {
  background-color: pink;
  text-align: center;
}

.grid-two {
  margin-top: 10px;
  grid-template-columns: 50px 1fr 75px;
}

.col1 {
  text-align: center;
  background-color: #B6D6E4;
}

.col2 {
  text-align: center;
  background-color: pink;
}

.col3 {
  text-align: center;
  background-color: #B6D6E4;
}

.grid-three {
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 10px;
  margin-top: 10px;
}

.grid-four {
  margin-top: 20px;
  margin-left: 20px ;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.profile {
  width: 150px;
  box-shadow: 0px 3px 3px 1px rgba(0, 0, 0, 0.05);
}

.margin-pic{
  margin-right: 10px;
  margin-left: 5px;
  margin-bottom: 15px;
}

img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 2px;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

.grid-name {
  margin-top: 0;
  margin-bottom: 0;
}

.grid-friends {
  margin-top: 0;
  font-size: 15px;
  color: #7c7f80;
}

button {
  color: white;
  background-color: #3364C5;
  border: none;
  border-radius: 4px;
  padding: 8px 15px;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

button:hover {
  box-shadow: rgba(0, 0, 0, 0.265) 3px 4px 10px;
}

button:active {
  background-color: #3b70daeb;
}

/* CSS for Positions */
.positions-general {
  /* height: 100px; */
  text-transform: capitalize;
  text-align: center;
 }

.relaitve-box {
  position: relative;
  /* top: 20px; */
  /* left: 20px; */
  bottom: 20px;
  background-color: rgb(10, 250, 170);
  height: 100px;
}

.normal-box {
  margin-bottom: 20px;
  height: 50px;
  background-color: rgb(130, 100, 240);
}

.fixed-box__transition {
  transition: all .3s;
}

.fixed-box__one {
  position: fixed;
  bottom: 20px;
}

.fixed-box__one:hover {
  padding: 1px;
}

.fixed-box__two {
  position: fixed;
  bottom: 20px;
  left: 31px;
}

.fixed-box__two:hover {
  padding: 1px;
}

.fixed-box__three {
  position: fixed;
  bottom: 20px;
  left: 57px;
}

.fixed-box__three:hover {
  padding: 1px;
}

.fixed-box__four {
  position: fixed;
  bottom: 20px;
  left: 79px;
}

.fixed-box__four:hover {
  padding: 1px;
}

.absolute-box {
  position: absolute;
  top: 20px;
  left: 30px;
  padding: 20px;
  background-color: #859bc6;
}

.sticky-box {
  display: inline-block;
  position: sticky;
  top: 20px;
  /* width: 200px;
  height: 200px; */
  padding: 30px;
  text-transform: capitalize;
  background-color: #3bda56;
  cursor: pointer;
  transition: all .2s;
}

.sticky-box:hover {
  padding: 40px;
  font-weight: bold;
  background-color: #4feaef;
}

.sticky-box:active {
  opacity: 0.6;
}