.amazon-link {
  color: rgb(0, 113, 133);
}
.amazon-link:hover {
  color: rgb(199, 81, 31);
}
.price-tag {
  color: rgb(0,118,0);
}
.cart-button {
  font-weight: 600;
  background-color: rgb(255, 216, 20);
  color: black;
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
  margin-right: 10px;
}
.cart-button:hover {
  background-color: rgb(247, 202, 0);
}
.cart-button:active {
  opacity: 0.5;
}
.buy-button {
  font-weight: 600;
  background-color: rgb(255, 164, 28);
  color: black;
  height: 30px;
  width: 110px;
  border: none;
  border-radius: 45px;
  cursor: pointer;
}
.buy-button:hover {
  background-color: rgb(250, 137, 0);
}
.buy-button:active {
  opacity: 0.5;
}
.uber-button {
  background-color: black;
  color: white;
  height: 40px;
  width: 120px;
  font-size: 13px;
  cursor: pointer;
  margin-right: 10px;
}
.uber-button:hover {
  opacity: 0.8;
}
.amazon-button {
  background-color: rgb(255, 216, 20);
  height: 30px;
  width: 140px;
  border-radius: 36px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
}
.amazon-button:hover {
  background-color: rgb(245, 205, 3);
}
.github-button {
  background-color: rgb(46, 164, 79);
  color: white;
  height: 33px;
  width: 80px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
}
.github-button:hover {
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
}
.bootstrap-one {
  background-color: rgb(121,82,179);
  color: white;
  height: 40px;
  width: 110px;
  border-radius: 4px;
  border: none;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  margin-right: 6px;
  transition: background-color 0.15s;
}
.bootstrap-one:hover {
  background-color: rgb(99, 60, 156);
}
.bootstrap-two {
  background-color: white;
  color: rgb(108, 117, 125);
  border-color: rgb(108, 117, 125);
  border-width: 1px;
  border-radius: 4px;
  border-style: solid;
  height: 40px;
  width: 100px;
  font-weight: 600;
  font-size: 12px;
  cursor: pointer;
  margin-right: 15px;
  transition: background-color 0.15s, color 0.15s;
}
.bootstrap-two:hover {
  background-color: rgb(108, 117, 125);
  color: white;
}
.linkedin-one {
  background-color: rgb(10,102,194);
  color: white;
  height: 40px;
  width: 240px;
  border-radius: 20px;
  border: none;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 0.15s;
}
.linkedin-one:hover {
  background-color: rgb(2, 70, 138);
}
.linkedin-two {
  background-color: white;
  height: 40px;
  width: 80px;
  color: rgb(10,102,194);
  border-color: rgb(10,102,194);
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0,15s, border-width 0.15s;
}
.linkedin-two:hover {
  background-color: rgb(226, 240, 254);
  border-width: 2px;
}