body {
  background-color: antiquewhite;
}
.tahoma-font {
  font-family: Tahoma;
  font-size: 30px;
  font-weight: bold;
}
.arial-text {
  font-family: Arial;
  font-weight: bold;
}
.arial-bold {
  font-weight: bolder;
  font-size: 26px;
  margin-bottom: 0;
}
.arial-italic {
  font-style: italic;
  font-size: 10px;
  color: red;
}
.verdana-text {
  font-family: Verdana;
  font-size: xx-small;
}
.verdana-bold {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 3px;
}
.verdana-opacity {
  color: rgb(101, 99, 99);
  font-weight: normal;
  margin-bottom: 18px;
}
.start-button {
  font-family: Verdana;
  background-color: green;
  color: white;
  font-size: 8px;
  border: none;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-right: 8px;
  padding-left: 8px;
  cursor: pointer;
}
.arial-text-one {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
}
.arial-apple {
  font-weight: normal;
  font-size: 8px;
}
a {
  text-decoration: none;
  font-size: 8px;
}
.macbook-text {
  font-family: Arial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}
.red-color {
  color: red;
  font-size: 6px;
  margin-bottom: 0;
}
.macbook-part {
  font-weight: bold;
  font-size: 12px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.macbook-below {
  font-weight: bold;
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 0px;
}
.macbook-price {
  font-size: 6px;
  margin-top: 1px;
  margin-bottom: 2;
}
.buy-button {
  background-color: rgb(41, 41, 250);
  color: white;
  font-size: 8px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  cursor: pointer;
}